/*****************************************************************
            MEDIA QUERIES*****************************************
*****************************************************************/

/*********** DESKTOP QUERIES - 1024px ********/
/*****     ESTILOS UNICOS PARA DESKTOP *****/

@media screen and (min-width: 1024px) {

    /**** INDEX AND ARTISTS****/
    .hoverUp {
        transition: transform ease 600ms;
    }
    .hoverUp:hover {
        transform: translate(0, -20px);
    }

    /**** PRODUCTS ****/
    .productGrow {
        transition: transform ease 600ms;
    }
    .productGrow:hover {
        transform: scale(1.1, 1.1);
    }
}


/********TABLET QUERIES - 768px *************/

@media screen and (max-width: 1023px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &__logo {
            display: flex;
            align-self: center;
        }
        &__logo-p {
            display: flex;
            align-self: center;
        }
        &__navList {
            display: flex;
            justify-content: space-around;
        }
    }
    /*************************
            INDEX*************
    *************************/
    .firstSection {
        height: 100%;
        display: grid;
        column-gap: 15px;
        padding-bottom: 3em;
        &__titles {
            .titles__h2 {
                font-size: 1.5em;
            }
            .titles__p {
                font-size: 1.0em;
            }
        }
        &__video iframe {
            width: 100%;
            height: 300px;
            border-radius: 20px;
        }
    }
    .secondSection {
        display: grid;
        height: 100%;
        width: 100%;
        padding-bottom: 3em;
        grid-template-rows: 1fr 4fr;
        &__divs {
            display: flex;
            flex-direction: column;
            .secondSection__subdivs {
                display: grid;
                grid-template-columns: 2fr 2fr;
                column-gap: 15px;
                padding-bottom: 2.5em;
                .subdivs img {
                    height: 200px;
                    width: 300px;
                }
            }
        }
    }
    .thirdSection {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 4fr;
        &__titles {
            margin-top: 3em;
            margin-bottom: 2.5em;
        }
        &__container {
            display: flex;
            flex-direction: column;
            margin-bottom: 2.5em;
            .container__p {
                font-size: 1.0em;
                padding-bottom: 1.5em;
                .paragraph {
                    padding-bottom: 1.5em;
                }
            }
            .container__video iframe {
                margin-top: 10px;
                width: 500px;
                height: 300px;
            }
        }
    }

    /************************************
                    PRODUCTS*************
    ************************************/
    .products {
        display: grid;
        grid-template-rows: 10% 90%;
        height: auto;
        &__imgBox {
            display: grid;
            grid-template-columns: 2fr 2fr;
            grid-template-rows: 2fr 2fr 2fr 1fr;
            row-gap: 15px;
            .imgBox img {
                width: 250px;
                height: 200px;
            }
        }
    }

    /***********************************
                    ARTISTS*************
    ***********************************/
    .artists-thirdSection {
        display: grid;
        grid-template-rows: 4fr 4fr;
    }
    .accordian {
        display: grid;
        overflow: visible;
        margin: auto;
        box-shadow: none;
        margin-top: 50px;
        margin-left: 20px;
    }
    .accordian li {
        box-shadow: none;
        border: none;
        float: none;
        transition: none;
        .image_title {
            background: rgba(0, 0, 0, 0.5);
            width: 600px;
        }
    }
    .accordian ul {
        display: grid;
    }
    .accordian li img {
        display: grid;
        height: 300px;
        width: 600px;
    }
    .section4 {
        display: grid;
        grid-template-rows: 5% 4fr;
        grid-row-gap: 10px;
        &__boxContainer {
            display: grid;
            grid-template-rows: repeat(4, 1fr) ;
            grid-template-columns: repeat(2, 2fr);
            grid-row-gap: 20px;
            .subBox img {
                height: 200px;
                width: 200px;
            }
        }
    }

    /**************************
                ABOUT *********
    **************************/
    .aboutSection {
        height: auto;
        display: grid;
        grid-template-rows: 1fr 2fr;
    }
    .about-thirdSection {
        display: grid;
        height: auto;
        &__article {
            display: grid;
            grid-template-rows: 1fr 5fr;
        }
    }

    /***************************
                CONTACTS *******
    ***************************/
    .contacts-container {
        width: 600px;
    }
}

/********MOBILE QUERIES - 480px *************/

@media screen and (max-width: 767px) {
    main {
        margin: 60px 30px;
    }
    /*************************
            INDEX*************
    *************************/
    .firstSection {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        &__titles {
            padding-bottom: 3em;
            .titles__h2, .titles__p {
                margin-bottom: 30px;
            }
        }
        &__video {
            padding-bottom: 3em;
        }
        &__video iframe {
            width: 100%;
        }
    }
    .secondSection {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        &__headers {
            display: flex;
            justify-content: center;
            padding-top: 3em;
            padding-bottom: 3em;
            .headers__h2 {
                font-size: 1.5em;
                text-align: center;
            }
        }
        .secondSection__subdivs {
            display: flex;
            flex-direction: column;
            padding-bottom: 2.5em;
            .subdivs {
                .subdivs__img {
                    width: 100%;
                    height: 300px;
                }
            }
        }
    }
    .thirdSection {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__titles {
            display: flex;
            justify-content: center;
            padding-top: 3em;
            padding-bottom: 3em;
            text-align: center;
        }
        .container__p  {
            padding-bottom: 1.5em;
            .paragraph {
                padding-bottom: 1.5em;
                text-align: justify;
            }
        }
        .container__video iframe {
            width: 100%;
        }
    }

    /************************************
                    PRODUCTS*************
    ************************************/
    .products {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__h1 {
            display: flex;
            justify-content: center;
            padding-bottom: 3em;
            font-size: 1.5em;
        }
        &__imgBox {
            display: flex;
            flex-direction: column;
            .imgBox {
                margin-bottom: 2.5em;
                .imgBox__img {
                    width: 100%;
                    height: 300px;
                }
            }
        }
    }

    /***********************************
                    ARTISTS*************
    ***********************************/
    .artistsSection {
        height: 100%;
        &__links {
            display: flex;
            flex-direction: row;
        }
        &__links a {
            font-size: 1em;
        }
    }
    .artists-thirdSection {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10em;
    }
    .accordian {
        width: 100%;
        overflow:none;
        margin: 3em 0px;
    }
    .accordian li {
        position: relative;
        width: 100%;
        float:none;
        transition: none;
        .image_title {
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            left: 0; bottom: 0;
            width: 100%;
        }
        .image_title a {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 20px;
            font-size: 16px;
        }
    }
    .accordian li img {
        width: 100%;
        height: 200px;
    }
    .accordian ul:hover li {width: 100%;}
    .accordian ul li:hover {width: 100%;}

    .section4 {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &__header {
            margin-top: 2.5em;
            margin-bottom: 2.5em;
            font-size: 1.5em;
        }
        &__boxContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .subBox {
                margin-bottom: 2.5em;
            }
            .subBox img {
                width: 100%;
                height: 300px;
            }
        }
    }

    /**************************
                ABOUT *********
    **************************/
    .aboutSection {
        height: 100%;
        display: flex;
        flex-direction: column;
        &__headers {
            margin-bottom: 3em;
            .headers__h1 {
                font-size: 1.5em;
            }
        }
        &__p {
            display: flex;
            flex-direction: column;
            margin-bottom: 3em;
        }
    }
    .about-thirdSection {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 3em;
    }
    .about-thirdSection__article {
        margin-bottom: 2em;
    }

    /***************************
                CONTACTS *******
    ***************************/
    .contact {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 50px 0px;
        &__titles {
            width: 100%;
            margin-bottom: 2.5em;
            .titles__h1 {
                margin-bottom: 1em;
                font-size: 1.5em;
            }
            .titles__h2 {
                text-align: justify;
                font-size: 1.2em;
            }
        }
    }
    .contacts-container {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .contactInfo {
        width: 100%;
    }
    .contactForm {
        width: 100%;
    }
}
