<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="artists, signature, featured, musicians, players, prs, rockers">
    <title>PRS Signature guitars - Artists that represent our brand</title>
    <meta name="description" content="Only the best guitars are used by the best, and this artists highly represent our legacy. Want to find out your new favorite guitar player?.
    meet their biographi and why they trust on us">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header class="header">
        <!-- Encabezado del sitio -->
        <p class="header__logo-p">PRS SIGNATURE GUITARS</p>
        <nav class="header__nav">
            <ul class="header__navList">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./products.html">Products</a></li>
                <li><a href="./artists.html">Artists</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <div class="artist__background">
        <img src="https://res.cloudinary.com/reverb-sites/image/upload/t_slider-slide-large/h8hbytxni5kqgiokpdon.png" width="100%" alt="Mark Holcomb">
        <div class="centered">
            <h1>PRS ARTISTS</h1>
        </div>
    </div>
    <main>
        <section class="artistsSection">
            <ul class="artistsSection__links">
                <li><a href="#accordianimg">FEATURED ARTISTS</a></li>
                <li><a href="#signature">SIGNATURE ARTISTS</a></li>
            </ul>
        </section>
        <section class="artists-thirdSection">
            <div class="accordian">
                <ul>
                    <li>
                        <div class="image_title"><a name="accordianimg"></a>
                            <a href="#">Carlos Santana the 2021 Legend Award at PBS’s 34th annual Hispanic Heritage Awards.</a>
                        </div>
                        <a href="#">
                            <img src="https://d159anurvk4929.cloudfront.net/artist-news/carlos-santana-featured-artist-2021-ne.jpg" alt="Carlos Santana" width="900px" height="450px"/>
                        </a>
                    </li>
                    <li>
                        <div class="image_title">
                            <a href="#">Rhonda Smith rock and funk bassist </a>
                        </div>
                        <a href="#">
                            <img src="https://d159anurvk4929.cloudfront.net/artist-news/rhonda-smith-featured-artist-with-gradient-2021.jpg" alt="Rhonda Smith" width="900px" height="450px"/>
                        </a>
                    </li>
                    <li>
                        <div class="image_title">
                            <a href="#">Toru Yamashita - ONE OK ROCK</a>
                        </div>
                        <a href="#">
                            <img src="https://d159anurvk4929.cloudfront.net/artist-news/toru-featured-artist-2021-b.jpg" alt="Toru Yamashita" width="900px" height="450px"/>
                        </a>
                    </li>
	            </ul>
            </div>
        </section>
        <section class="section4">
            <h2 class="section4__header"><a name="signature">Signature Artists</a></h2>
            <div class="section4__boxContainer">
                <div class="subBox hoverUp">
                    <img src="https://d2zap0z9ahyacn.cloudfront.net/eyJidWNrZXQiOiJwcnNpbWFnZXMiLCJrZXkiOiJhcnRpc3QtbmV3cy9hbGV4LWxpZmVzb24tcHJvZmlsZS5qcGciLCJlZGl0cyI6eyJqcGVnIjp7InF1YWxpdHkiOjgyLCJwcm9ncmVzc2l2ZSI6dHJ1ZSwidHJlbGxpc1F1YW50aXNhdGlvbiI6dHJ1ZSwib3ZlcnNob290RGVyaW5naW5nIjp0cnVlLCJvcHRpbWl6ZVNjYW5zIjp0cnVlfSwicmVzaXplIjp7IndpZHRoIjoxMjgwLCJoZWlnaHQiOjEyODAsImZpdCI6ImNvdmVyIn19fQ==" width="250px" height="250px" alt="Alex Lifeson">
                    <h3 class="subBox__h3">Alex Lifeson</h3>
                </div>
                <div class="subBox hoverUp">
                    <img src="https://d2zap0z9ahyacn.cloudfront.net/eyJidWNrZXQiOiJwcnNpbWFnZXMiLCJrZXkiOiJhcnRpc3QtbmV3cy9kYXZpZC1ncmlzc29tLWFydGlzdC1wb3J0cmFpdC5qcGciLCJlZGl0cyI6eyJqcGVnIjp7InF1YWxpdHkiOjgyLCJwcm9ncmVzc2l2ZSI6dHJ1ZSwidHJlbGxpc1F1YW50aXNhdGlvbiI6dHJ1ZSwib3ZlcnNob290RGVyaW5naW5nIjp0cnVlLCJvcHRpbWl6ZVNjYW5zIjp0cnVlfSwicmVzaXplIjp7IndpZHRoIjoxMjgwLCJoZWlnaHQiOjEyODAsImZpdCI6ImNvdmVyIn19fQ==" width="250px" height="250px" alt="David Grissom">
                    <h3 class="subBox__h3">David Grissom</h3>
                </div>
                <div class="subBox hoverUp">
                    <img src="https://d2zap0z9ahyacn.cloudfront.net/eyJidWNrZXQiOiJwcnNpbWFnZXMiLCJrZXkiOiJhcnRpc3QtbmV3cy9kdXN0aWUtd2FyaW5nLWFydGlzdC1wb3J0cmFpdC5qcGciLCJlZGl0cyI6eyJqcGVnIjp7InF1YWxpdHkiOjgyLCJwcm9ncmVzc2l2ZSI6dHJ1ZSwidHJlbGxpc1F1YW50aXNhdGlvbiI6dHJ1ZSwib3ZlcnNob290RGVyaW5naW5nIjp0cnVlLCJvcHRpbWl6ZVNjYW5zIjp0cnVlfSwicmVzaXplIjp7IndpZHRoIjoxMjgwLCJoZWlnaHQiOjEyODAsImZpdCI6ImNvdmVyIn19fQ==" width="250px" height="250px" alt="Dustie Waring">
                    <h3 class="subBox__h3">Dustie Waring</h3>
                </div>
                <div class="subBox hoverUp">
                    <img src="https://d2zap0z9ahyacn.cloudfront.net/eyJidWNrZXQiOiJwcnNpbWFnZXMiLCJrZXkiOiJhcnRpc3QtbmV3cy9nYXJ5LWdyYWluZ2VyLWFydGlzdC1wb3J0cmFpdC5qcGciLCJlZGl0cyI6eyJqcGVnIjp7InF1YWxpdHkiOjgyLCJwcm9ncmVzc2l2ZSI6dHJ1ZSwidHJlbGxpc1F1YW50aXNhdGlvbiI6dHJ1ZSwib3ZlcnNob290RGVyaW5naW5nIjp0cnVlLCJvcHRpbWl6ZVNjYW5zIjp0cnVlfSwicmVzaXplIjp7IndpZHRoIjoxMjgwLCJoZWlnaHQiOjEyODAsImZpdCI6ImNvdmVyIn19fQ==" width="250px" height="250px" alt="Gary Grainger">
                    <h3 class="subBox__h3">Gary Grainger</h3>
                </div>
                <div class="subBox hoverUp">
                    <img src="https://d2zap0z9ahyacn.cloudfront.net/eyJidWNrZXQiOiJwcnNpbWFnZXMiLCJrZXkiOiJhcnRpc3QtbmV3cy9qb2huLW1heWVyLWFydGlzdC1wb3J0cmFpdC5qcGciLCJlZGl0cyI6eyJqcGVnIjp7InF1YWxpdHkiOjgyLCJwcm9ncmVzc2l2ZSI6dHJ1ZSwidHJlbGxpc1F1YW50aXNhdGlvbiI6dHJ1ZSwib3ZlcnNob290RGVyaW5naW5nIjp0cnVlLCJvcHRpbWl6ZVNjYW5zIjp0cnVlfSwicmVzaXplIjp7IndpZHRoIjoxMjgwLCJoZWlnaHQiOjEyODAsImZpdCI6ImNvdmVyIn19fQ==" width="250px" height="250px" alt="John Mayer">
                    <h3 class="subBox__h3">John Mayer</h3>
                </div>
                <div class="subBox hoverUp">
                    <img src="https://d2zap0z9ahyacn.cloudfront.net/eyJidWNrZXQiOiJwcnNpbWFnZXMiLCJrZXkiOiJhcnRpc3QtbmV3cy9tYXJrLWxldHRlcmktYXJ0aXN0LXBvcnRyYWl0LmpwZyIsImVkaXRzIjp7ImpwZWciOnsicXVhbGl0eSI6ODIsInByb2dyZXNzaXZlIjp0cnVlLCJ0cmVsbGlzUXVhbnRpc2F0aW9uIjp0cnVlLCJvdmVyc2hvb3REZXJpbmdpbmciOnRydWUsIm9wdGltaXplU2NhbnMiOnRydWV9LCJyZXNpemUiOnsid2lkdGgiOjEyODAsImhlaWdodCI6MTI4MCwiZml0IjoiY292ZXIifX19" width="250px" height="250px" alt="Mark Lettieri">
                    <h3 class="subBox__h3">Mark Lettieri</h3>
                </div>
                <div class="subBox hoverUp">
                    <img src="https://d2zap0z9ahyacn.cloudfront.net/eyJidWNrZXQiOiJwcnNpbWFnZXMiLCJrZXkiOiJhcnRpc3QtbmV3cy9tYXJrLXRyZW1vbnRpLWFydGlzdC1wb3J0cmFpdC5qcGciLCJlZGl0cyI6eyJqcGVnIjp7InF1YWxpdHkiOjgyLCJwcm9ncmVzc2l2ZSI6dHJ1ZSwidHJlbGxpc1F1YW50aXNhdGlvbiI6dHJ1ZSwib3ZlcnNob290RGVyaW5naW5nIjp0cnVlLCJvcHRpbWl6ZVNjYW5zIjp0cnVlfSwicmVzaXplIjp7IndpZHRoIjoxMjgwLCJoZWlnaHQiOjEyODAsImZpdCI6ImNvdmVyIn19fQ==" width="250px" height="250px" alt="Mark Tremonti">
                    <h3 class="subBox__h3">Mark Tremonti</h3>
                </div>
                <div class="subBox hoverUp">
                    <img src="https://d2zap0z9ahyacn.cloudfront.net/eyJidWNrZXQiOiJwcnNpbWFnZXMiLCJrZXkiOiJhcnRpc3QtbmV3cy9tYXJ0aW4tc2ltcHNvbi1wcm9maWxlLmpwZyIsImVkaXRzIjp7ImpwZWciOnsicXVhbGl0eSI6ODIsInByb2dyZXNzaXZlIjp0cnVlLCJ0cmVsbGlzUXVhbnRpc2F0aW9uIjp0cnVlLCJvdmVyc2hvb3REZXJpbmdpbmciOnRydWUsIm9wdGltaXplU2NhbnMiOnRydWV9LCJyZXNpemUiOnsid2lkdGgiOjEyODAsImhlaWdodCI6MTI4MCwiZml0IjoiY292ZXIifX19" width="250px" height="250px" alt="Martin Simpson">
                    <h3 class="subBox__h3">Martin Simpson</h3>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="navLinks-logo">
            <ul class="footer__navLinks">
                <li><a href="#">Frequent questions</a></li>
                <li><a href="#">Suscriptions</a></li>
                <li><a href="#">Events</a></li>
            </ul>
            <h3>PRS SIGNATURE GUITARS</h3>
        </div>
        <div class="copyright-icons">
            <div class="icons-bar">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
            <p>Copyright 2021</p>
        </div>
    </footer>
</body>
</html>