<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="support, email, address, guitars, dealers, concerns, prs">
    <title>PRS signature guitars - Our 24/7 web support, telephones, and email contacts</title>
    <meta name="description" content="Our web support is ready to tackle every doubt and concern you may have. Feel safe that our professional employees will take care of your instruments
    and provide you all the required information to give you the best user experience on our web store">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header class="header">
        <!-- Encabezado del sitio -->
        <p class="header__logo-p">PRS SIGNATURE GUITARS</p>
        <nav class="header__nav">
            <ul class="header__navList">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./products.html">Products</a></li>
                <li><a href="./artists.html">Artists</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
            <section class="contact">
                <div class="contact__titles">
                    <h1 class="titles__h1">Contact support</h1>
                    <h2 class="titles__h2">To get started, please submit your request here. We will review your request and return an email to you.</h2>
                </div>
                <div class="contacts-container">
                    <div class="contactInfo">
                        <div class="contactInfo__box">
                            <div class="box-icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                            <div class="box-text">
                                <h3 class="box-h3">Address</h3>
                                <p>PRS Guitars, PO Box 5474, Brighton, BN50 8NJ,
                                United Kingdom</p>
                            </div>
                        </div>
                        <div class="contactInfo__box">
                            <div class="box-icon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                            <div class="box-text">
                                <h3 class="box-h3">Phone-number</h3>
                                <p>+44 7700 900077</p>
                            </div>
                        </div>
                        <div class="contactInfo__box">
                            <div class="box-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                            <div class="box-text">
                                <h3 class="box-h3">Email Address</h3>
                                <p>PRSGUITARS@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="contactForm">
                        <form>
                            <h2 class="contactForm__h2">Send Message</h2>
                            <div class="contactForm__inputBox">
                                <input class="contactForm__input" type="text" id="nombre" name="nombre" required="required">
                                <span class="contactForm__span">First Name</span>
                            </div>
                            <div class="contactForm__inputBox">
                                <input class="contactForm__input" type="text" id="apellido" name="apellido" required="required">
                                <span class="contactForm__span">Last Name</span>
                            </div>
                            <div class="contactForm__inputBox">
                                <input class="contactForm__input" type="text" id="email" name="email" required="required">
                                <span class="contactForm__span">Email</span>
                            </div>
                            <div class="contactForm__inputBox">
                                <textarea class="contactForm__input" required="required"></textarea>
                                <span class="contactForm__span">Type your message</span>
                            </div>
                            <div class="contactForm__inputBox">
                                <input class="contactForm__input contactForm__submit" type="submit" name="" value="Send">
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="navLinks-logo">
                <ul class="footer__navLinks">
                    <li><a href="#">Frequent questions</a></li>
                    <li><a href="#">Suscriptions</a></li>
                    <li><a href="#">Events</a></li>
                </ul>
                <h3>PRS SIGNATURE GUITARS</h3>
            </div>
            <div class="copyright-icons">
                <div class="icons-bar">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
                <p>Copyright 2021</p>
            </div>
        </footer>
</body>
</html>